body {
    background: #0f363d !important;
}

h1,h2,h3,h4,h5,h5,p,span {
    color: #FFFFFF;
}

h1 {
    font-size: 70px !important; 
}

p {
    font-size: 18px !important;
}

.intro-box {
    display: table !important;
}

.intro-text {
    display: table-cell;
    align-items: center;
}

.intro-text p {
    padding: 10px 0 40px;
}

a.readmore { 
    color: #FFFFFF !important;
    text-transform: uppercase;
    background: #DAA494 !important;
    padding: 10px 40px;
    border-radius: 0 !important;
}

a.readmore:hover {
    transform: skew(6deg); 
}

.intro-pic { 
    /* transform: skew(-3deg); */
    position: relative;
    z-index: 1;
    -webkit-animation: floatBubble 2s;
    animation-fill-mode: forwards;  
  }

@-webkit-keyframes floatBubble{
 0%{
        top:0;
        -webkit-animation-timing-function: ease-in;
   }

   33% {
      top: -50px;
      -webkit-animation-timing-function: ease-out;
   }
  66%{
        top:0;
        -webkit-animation-timing-function: ease-in;
   }
  
  100%{
        top:-50px;
        -webkit-animation-timing-function: ease-in;
   }
}

#primary-nav {
    background: #0f2024 !important; 
    padding: 10px;
    position: relative;
    z-index: 2;
}

#primary-nav ul li a {
    color: #FFFFFF !important;
}

/* Portfolio section */
.template-btn {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 20px;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .template-btn:hover {
    color: white;
    background: #DAA494;
  }
  .portfolio-section {
    padding-top: 30px;
    transition: 1.3s;
    box-sizing: border-box;
    height: auto;
  }
  
  .portfolio-tab ul {
    text-align: center;
    margin-top: 60px;
  }
  .portfolio-tab ul li {
    color: rgb(255, 255, 255);
    background: transparent;
    display: inline;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 16px;
    margin: 0 5px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-tap-highlight-color: transparent;
  }
  @media (max-width: 575.98px) {
    .portfolio-tab ul li {
      display: block;
      margin: 10px auto;
      max-width: 200px;
    }
  }
  .portfolio-tab ul li:hover {
    color: #DAA494;
  }
  .portfolio-tab ul .active {
    color: #DAA494;
  }
  .clearfix:after {
    display: table;
    content: " ";
    clear: both;
  }
  .portfolio-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
  }
  @media (max-width: 768px) {
    .portfolio-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media only screen and (min-width: 768.1px) and (max-width: 991px) {
    .portfolio-grid {
      grid-template-columns: repeat(2, 1fr);
    }		
    }
  .portfolio-grid .portfolio {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      display:none;
      overflow:hidden;
      margin: 15px;
  }
  .portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    cursor:pointer;
  }
  .portfolio-bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: 1s;
    transform: scale(1)
  }
  .portfolio:hover .portfolio-bg{
    transform: scale(1.2)
  }
  .first .portfolio-bg{
    background-image: url('../images/project-capitol.jpeg');
    
  }
  .second .portfolio-bg{
    background-image: url('../images/project-chijmes.jpeg');
  }
  .third .portfolio-bg{
    background-image: url('../images/project-agility.jpeg');
    
  }
  .portfolio .label {
    position: absolute;
    width: 100%;
    height:100%;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden
  }
  
  .portfolio .label-bg {
    background: #0f363d;
    opacity: 0.7;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    transition: 1px;
  }
  .portfolio .label-text {
    color:#fff;
    text-transform: capitalize;
    position: relative;
    z-index:500;
    padding: 50px 40px;
  }
  .portfolio:hover .label {
    opacity: 1;
    visibility: visible;
  }
  .portfolio .text-category {
    display:block;
  }
  .portfolio .template-btn {
    background: #DAA494;
    border: 1px solid #DAA494;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 500;
    padding: 10px 40px;
  }
  .portfolio .template-btn:hover {
    transform: skew(6deg); 
}