body {
    background: #0f363d !important;
}

h1,h2,h3,h4,h5,h6,p,span,ul,ol {
    color: #FFFFFF;
}

h1 {
    font-size: 60px !important; 
    margin-top: 100px !important; 
    margin-bottom: 20px !important;
}

h2 {
  font-size: 40px !important;
  line-height: 1.5 !important;
  padding: 60px 0 20px;
}

p {
    font-size: 18px !important;
}

a {
  color: #FFFFFF !important; 
  text-decoration: underline !important; 
  font-weight: 500;
}

a:hover, a:focus {
  color: #DAA494 !important;
}

#primary-nav ul li a {
  text-decoration: none !important;
}

.row .col-md-6.intro-text {
  width: 70%;
}

.row .col-md-6.intro-text p {
    padding: 10px 0 0;
}

a.readmore { 
    color: #FFFFFF !important;
    text-transform: uppercase;
    text-decoration: none !important;
    background: #DAA494 !important;
    padding: 10px 40px;
    border-radius: 0 !important;
    margin-top: 40px;
}

a.readmore:hover {
    transform: skew(6deg); 
}

.row .col-md-6.intro-pic {
  margin-top: 80px !important;
}

.row .col-md-6.intro-pic { 
    /* transform: skew(-3deg); */
    position: relative;
    z-index: 1;
    -webkit-animation: floatBubble 2s;
    animation-fill-mode: forwards;  
  }

@-webkit-keyframes floatBubble{
 0%{
        top:0;
        -webkit-animation-timing-function: ease-in;
   }

   33% {
      top: -50px;
      -webkit-animation-timing-function: ease-out;
   }
  66%{
        top:0;
        -webkit-animation-timing-function: ease-in;
   }
  
  100%{
        top:-50px;
        -webkit-animation-timing-function: ease-in;
   }
}

/* Navigation */
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: none !important;
}
.navbar-brand {
  font-size: 40px !important;
}
.navbar-toggler {
  background: #FFF !important;
  font-size: 40px !important;
}
#primary-nav {
  width: 100%;
    background: #0f2024 !important; 
    padding: 10px;
    position: fixed;
    z-index: 2;
}

#primary-nav ul li a {
    color: #FFFFFF !important;
    font-weight: bold !important;
}

#primary-nav ul li a:hover {
  color: #daa494a8 !important
}

#primary-nav ul li.nav-item.active a {
  color: #DAA494 !important;
}

#primary-nav ul.download-flex {
  list-style-type: none !important;
}
#primary-nav .nav, 
#primary-nav .download-flex {
  display: inline-flex;
  margin: 0 !important;
}
#primary-nav .download-flex li a {
 border: 1px solid #DAA494;
 padding: 10px 20px; 
 border-radius: 30px;
}
#primary-nav .download-flex li a:hover {
  background: #DAA494;
  color: #FFFFFF !important
}

/* Portfolio section */
.template-btn {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 20px;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .template-btn:hover {
    color: white;
    background: #DAA494;
  }
  .portfolio-section {
    padding-top: 30px;
    transition: 1.3s;
    box-sizing: border-box;
    height: auto;
  }

  .portfolio-text {
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #ffffff54;
    margin-top: 40px;
}
  
  .portfolio-tab ul {
    text-align: center;
    margin-top: 40px;
  }
  .portfolio-tab ul li {
    color: rgb(255, 255, 255);
    background: transparent;
    display: inline;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 16px;
    margin: 0 5px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-tap-highlight-color: transparent;
  }
  @media (max-width: 575.98px) {
    .portfolio-tab ul li {
      display: block;
      margin: 10px auto;
      max-width: 200px;
    }
  }
  .portfolio-tab ul li:hover {
    color: #DAA494;
  }
  .portfolio-tab ul .active {
    color: #DAA494;
  }
  .clearfix:after {
    display: table;
    content: " ";
    clear: both;
  }
  .portfolio-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
  }
  @media (max-width: 768px) {
    .portfolio-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media only screen and (min-width: 768.1px) and (max-width: 991px) {
    .portfolio-grid {
      grid-template-columns: repeat(1, 1fr);
    }		
    }
  .portfolio-grid .portfolio {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      display:none;
      overflow:hidden;
      margin: 15px;
  }
  .portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    cursor:pointer;
  }
  .portfolio-bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: 1s;
    transform: scale(1)
  }
  .portfolio:hover .portfolio-bg{
    transform: scale(1.2)
  }
  .first .portfolio-bg{
    background-image: url('../images/project-capitol.jpeg');
  }
  .second .portfolio-bg{
    background-image: url('../images/project-chijmes.jpeg');
  }
  .third .portfolio-bg{
    background-image: url('../images/project-agility.jpeg');
  }
  .fifth .portfolio-bg{
    background-image: url('../images/project-easy-microfinance.jpeg');
  }
  .sixth .portfolio-bg{
    background-image: url('../images/project-chindwin-psb.jpeg');
  }
  .seventh .portfolio-bg{
    background-image: url('../images/project-golden-hill-tower.com.jpeg');
  }
  .eighth .portfolio-bg{
    background-image: url('../images/project-cmhl.jpeg');
  }
  .ninth .portfolio-bg{
    background-image: url('../images/project-alpha-power-engineering.jpeg');
  }
  .tenth .portfolio-bg{
    background-image: url('../images/project-myanmar-investments.jpeg');
  }
  .eleventh .portfolio-bg{
    background-image: url('../images/project-seasons.jpeg');
  }
  .twelfth .portfolio-bg{
    background-image: url('../images/project-myanmar-birding.jpeg');
  }
  .fourth .portfolio-bg{
    background-image: url('../images/project-integmyanmar.jpeg');
  }
  .portfolio .label {
    position: absolute;
    width: 100%;
    height:100%;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden
  }
  
  .portfolio .label-bg {
    background: #0f363d;
    opacity: 0.7;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    transition: 1px;
  }
  .portfolio .label-text {
    color:#fff;
    text-transform: capitalize;
    position: relative;
    z-index:1;
    padding: 50px 40px;
  }
  .portfolio:hover .label {
    opacity: 1;
    visibility: visible;
  }
  .portfolio .text-category {
    display:block;
  }
  .portfolio .template-btn {
    background: #DAA494;
    border: 1px solid #DAA494;
    text-decoration: none !important;
    margin-top: 20px;
    font-weight: 500;
    padding: 10px 20px;
  }
  .portfolio .template-btn:hover {
    transform: skew(6deg); 
    color: #FFFFFF !important;
}

footer { 
  margin: 40px auto;
}

footer p {
  font-size: 16px !important; 
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
}

footer a:hover {
  color: #DAA494;
}

p.footer-text:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #daa494d7;
  display: block;
  margin-top: 20px;
}

.powered, .powered p, .powered span { 
  text-align: right; 
  color: #daa494d7; 
  font-size: inherit !important;
}

@media only screen and (min-width: 1000px) { 
  .navbar-brand {
    display: none !important;
  }
  .intro-box {
    display: table !important;
  }
  .intro-text {
    display: table-cell;
    align-items: center; 
  }
  .experience-text p span {
    font-size: 25px !important;
  } 
}

@media only screen and (max-width: 999px) { 
  p,ul,li,a,span {
    font-size: 18px !important;
  }
  .navbar-brand {
    font-size: 40px !important;
  }
  li.nav-item {
      padding: 10px 0;
  }
  #primary-nav ul.download-flex {
    padding: 20px 0 40px;
  }
  #primary-nav .download-flex li a {
    padding: 20px 40px;
  }
  #primary-nav ~ .container {
    padding-top: 60px;
  }

  .hidden {
    display: none !important;
  }

  .intro-box .col-md-6 { 
    display: block;
    width: 100% !important;
  }
  .intro-text { 
    display: block !important;
    order: 2; 
  }
  #primary-nav ul li a, 
  .intro-text p, 
  .portfolio-tab ul li, 
  .portfolio .text-category, 
  .portfolio .template-btn, 
  .footer-text {
    font-size: 18px !important;
  }
  .label-text h3 {
    font-size: 22px !important;
  }
  .portfolio .template-btn {
    padding: 15px 100px !important;
  }
  footer p.powered {
    font-size: 18px !important;
  }
}

/* Experience page */
.experience-text {
  border-left: 2px solid #DAA494;
  margin: 0 0 0 17px;
  padding: 0 0 40px 0;
}

.experience i.fa.fa-circle { 
  font-size: 14px !important;
  color: #DAA494 !important;
  margin-bottom: -20px;
}

/* Skills page */
.skills {
  display: flex;
  align-items: center;
  margin-bottom: 20px !important; 
}
.skills p {
  margin: 0 30px !important; 
  text-align: end;
}
.progress {
  height: 8px !important;
  padding: 0 !important;
}
.progress-bar {
  height: 8px;
  background-color: #FFFFFF;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-striped .progress-bar {
  background-color: #DAA494;
  background-image: linear-gradient(45deg, #DAA494 25%, transparent 25%, transparent 50%, #DAA494 50%, #DAA494 75%, transparent 75%, transparent);
}

.wordpress .progress-striped .progress-bar, 
.html .progress-striped .progress-bar, 
.css .progress-striped .progress-bar {
  width: 100%;
  animation: progressAnimationStrike 1s;
}

@keyframes progressAnimationStrike {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.jquery .progress-striped .progress-bar, 
.bootstrap .progress-striped .progress-bar {
  width: 90%;
  animation: progressAnimationStrike2 1s;
}

@keyframes progressAnimationStrike2 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

.javascript .progress-striped .progress-bar, 
.photoshop .progress-striped .progress-bar, 
.php .progress-striped .progress-bar {
  width: 80%;
  animation: progressAnimationStrike3 1s;
}

@keyframes progressAnimationStrike3 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

.mysql .progress-striped .progress-bar, 
.figma .progress-striped .progress-bar {
  width: 50%;
  animation: progressAnimationStrike4 1s;
}

@keyframes progressAnimationStrike4 {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.reactjs .progress-striped .progress-bar, 
.notedjs .progress-striped .progress-bar {
  width: 20%;
  animation: progressAnimationStrike4 1s;
}

@keyframes progressAnimationStrike4 {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}

/* Contact page */
.contact .row {
  width: 100%; 
  margin: 20px auto; 
  display: flex; 
}

.contact .row .col-2 {
  width: 15%; 
}

.contact .row .col-10 {
  width: 60%;
}

.contact form label {
  color: #ffffff;
  font-size: 18px; 
  padding: 10px 0;
}

input, textarea { 
  width: 100%;
  color: #FFFFFF;
  background: none; 
  border: 2px solid #DAA494; 
  margin: 10px;
  padding: 10px;
  position: relative;
}

textarea { 
  height: 200px;
}

input:focus, textarea:focus { 
  outline-width: 0;
  border: 2px solid #FFFFFF;
}

button {
  display: block; 
  border: 2px solid #DAA494; 
  background: none;
  color: #FFFFFF; 
  padding: 10px 30px;
  font-size: 20px;
}

button:hover {
  background: #DAA494;  
}

/* Mobile View */
@media only screen and (max-width: 800px) { 
  .contact .row .col-2, 
  .contact .row .col-10, 
  .about .col-md-4 {
    width: 100% !important;
  }
  .hidden {
    display: none !important;
  }
  h2 {
    font-size: 50px !important; 
    line-height: 1.6 !important;
  }
}